@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: rgb(245, 243, 243);
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  display: flex;
  flex-direction: column;
}
header {
  margin-top: 6rem;
  padding-bottom: 4rem;
}
.main-header {
  font-weight: 300;
}
.main-header span {
  font-weight: 600 !important;
}
.header-text {
  margin-top: 10px;
  text-align: center;
  font-weight: 300;
  color: black;
}

/* Card section  */
.container {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.card {
  /* background-color: rgb(43, 170, 255); */
  border-radius: 10px;
  height: 300px;
  width: 400px;
  padding: 2rem;
  margin: 40px;
  cursor: pointer;
  background-color: white;
  text-align: left;
  -webkit-box-shadow: 8px 2px 21px -2px rgba(0, 0, 0, 0.31);
  box-shadow: 8px 2px 21px -2px rgba(0, 0, 0, 0.31);
}
.card-heading {
  padding: 1rem 0;
}
.card-text {
  padding: 1rem 0;
}
.card-img {
  height: 90px;
  width: 90px;
  margin-left: 14rem;
  display: block;
}
.two-card {
}
.card-1 {
  margin-top: 12rem;
  margin-right: -2px;
  border-top: 5px solid rgb(129, 1, 1);
}

.card-4 {
  margin-top: 12rem;
  margin-left: -2px;
  border-top: 5px solid rgb(39, 97, 255);
}
.card-3 {
  border-top: 5px solid rgb(140, 0, 255);
}
.card-2 {
  border-top: 5px solid rgb(255, 17, 176);
}
